
.barra{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra ul li{
    display: inline-block;
    border: 10px;
    
    
}

.barra ul li a:hover{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(175, 186, 196);
}
/* Estilos para pantallas mayores a 768px de ancho */
@media screen and (min-width: 768px) {
    .columna {
      width: 50%;
      float: left;
    }
  }
  
  /* Estilos para pantallas menores o iguales a 768px de ancho */
  @media screen and (max-width: 768px) {
    .columna {
      width: 100%;
      float: none;
    }
  }